#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bitDevHeader {
  color: #ffbf34;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.checkSteps {
  text-align: left;
}

.mmInstalled {
  font-size: 20px;
}

.appWarning {
  font-size: 24px;
  font-weight: bold;
}

.devUpContainer {
  padding-top: .5em;
}

a {
  text-decoration: none;
}